{{ $packages := (fromToml (includeTemplate "binaries.toml.tmpl" .)).packages }}
{{ range $packages -}}
{{- $url := replace "$VERSION" .version .url }}
[".local/bin/{{ .name }}"]
type = "{{ .type }}"
url = "{{ $url }}"
executable = true
{{ if hasKey . "stripComponents" }}stripComponents={{ .stripComponents }}{{ end }}
{{ if hasKey . "path" }}path="{{ .path }}"{{ end }}

{{ end }}
