pkgbase = nachtjasmin-base
	pkgdesc = Base system configuration for nachtjasmin's systems
	pkgver = 2023.11.15+1505b92
	pkgrel = 1
	url = https://github.com/nachtjasmin/dotfiles/arch-packages/
	arch = any
	groups = nachtjasmin
	license = OSL-3.0
	depends = bat
	depends = broot
	depends = bottom
	depends = chezmoi
	depends = dog
	depends = eza
	depends = fd
	depends = fish
	depends = fzf
	depends = helix
	depends = jq
	depends = less
	depends = ripgrep
	depends = sd
	depends = sheldon
	depends = starship
	depends = wget
	depends = ouch
	depends = ccase
	depends = systemd-boot-pacman-hook
	conflicts = zsh

pkgname = nachtjasmin-base
