#!/bin/sh
set -eu

{{ if and (or .server .container) (eq .chezmoi.os "linux") }}

{{ $packages := (fromToml (includeTemplate "binaries.toml.tmpl" .)).packages }}
{{ range $packages }}
# begin package: {{ .name }}
TMPDIR=$(mktemp -d --suffix -{{ .name }})
cd $TMPDIR;
echo "installing {{ .name }} ({{ .version}}) to $HOME/.local/bin/"
wget --quiet -O download {{ replace "$VERSION" .version .url }}
{{ if eq .type "archive" }}
	{{ if hasSuffix ".tar.gz" .url }}
tar --extract {{ if hasKey . "stripComponents" }}--strip-components {{ .stripComponents }}{{ end }} --file download --gzip {{ if hasKey . "wildcard" -}} --wildcards "{{ .wildcard }}" {{- end }}
	{{ else }}
unzip -j download
	{{ end }}

chmod +x {{ .name }}
mv {{ .name }} $HOME/.local/bin/

{{ else if (eq .type "file") }}
chmod +x download
mv download $HOME/.local/bin/{{ .name }}
{{ end }}

cd && rm -r $TMPDIR
# end package: {{ .name }}
{{ end }}

{{ end }}
