#!/bin/sh
set -eu

{{ if and (or .server .container) (eq .chezmoi.os "linux") }}
{{- $VERSION_bat := "0.23.0" -}}
{{- $VERSION_delta := "0.15.1" -}}
{{- $VERSION_direnv := "2.32.2" -}}
{{- $VERSION_exa := "0.10.1" -}}
{{- $VERSION_fd := "8.7.0" -}}
{{- $VERSION_fnm := "1.33.1" -}}
{{- $VERSION_fzf := "0.40.0" -}}
{{- $VERSION_ripgrep := "13.0.0" -}}
{{- $VERSION_sd := "0.7.6" -}}
{{- $VERSION_sheldon := "0.7.1" -}}
{{- $VERSION_starship := "1.14.2" -}}

{{ $packages := (fromToml (includeTemplate "binaries.toml.tmpl" .)).packages }}
{{ range $packages }}
# begin package: {{ .name }}
TMPDIR=$(mktemp -d --suffix -{{ .name }})
cd $TMPDIR;
echo "installing {{ .name }} ({{ .version}}) to $HOME/.local/bin/"
wget --quiet -O download {{ replace "$VERSION" .version .url }}
{{ if eq .type "archive" }}
	{{ if hasSuffix ".tar.gz" .url }}
tar --extract {{ if hasKey . "stripComponents" }}--strip-components {{ .stripComponents }}{{ end }} --file download --gzip --wildcards "{{ .wildcard }}"
	{{ else }}
unzip -j download
	{{ end }}

chmod +x {{ .name }}
mv {{ .name }} $HOME/.local/bin/

{{ else if (eq .type "file") }}
chmod +x download
mv download $HOME/.local/bin/{{ .name }}
{{ end }}

cd && rm -r $TMPDIR
# end package: {{ .name }}
{{ end }}

{{ end }}
