{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
if ! command -v brew &> /dev/null
then
	echo "Brew is not installed on the system, running the installer."
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle install \
  --no-lock \
  --file=/dev/stdin <<EOF
{{ template "Brewfile.tmpl" . }}
EOF
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#!/usr/bin/zsh

if ! command -v paru &> /dev/null
then
  echo "paru is not installed on system, trying to install it"

  sudo pacman -S --noconfirm --needed git base-devel
  git clone https://aur.archlinux.org/paru.git
  cd paru
  makepkg -si --noconfirm
  cd ..
  rm -rf paru # force needed, because of .git folder
fi

packages=$(cat <<EOF | grep -v "^$" | grep -v "#"
{{ template "arch-packages.tmpl" . }}
EOF
)
echo $packages | paru -S --needed --noconfirm -

{{- else if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian")) -}}
#!/bin/bash
set -e
# We use only a small subset of the required tools and only install required stuff.
# Most probably, ubuntu is only used on servers, I never set it up as main system.

echo "Creating binary folder, might be overwritten by chezmoi afterwards."
mkdir -p $HOME/.bin
export PATH="$PATH:$HOME/.bin"

packages=$(cat <<EOF | grep -v "^$" | grep -v "#" | tr "\n" " "
  {{ template "apt-packages.tmpl" . }}
EOF
)

echo "Installing basic apt packages"
sudo apt-get update && sudo apt-get install -y $packages

if ! [[ $SHELL == *"zsh"* ]]; then
  echo "Changing default shell to zsh"
  sudo chsh -s $(which zsh)
fi

{{ end -}}

{{/* vim: set filetype=bash: */}}
