{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $remoteContainer := env "REMOTE_CONTAINERS" | not | not -}}
{{- $insideContainer := or $codespaces $remoteContainer }}
sourceDir = {{ .chezmoi.sourceDir | quote }}
encryption = "age"

[data]
	codespaces = {{ $codespaces }}
	container = {{ $insideContainer }}
{{- if $insideContainer }}{{/* Non-interactive setup for containers */}}
	name = "nachtjasmin"
	email = "nachtjasmin@posteo.de"
	server = false
{{- else }}
	{{ $server := promptBool "Target is server" false }}
	server = {{ $server }}
	{{- if not $server }}
	name = {{ promptString "Git username:" | quote }}
	email = {{ promptString "Git email address:" | quote }}
	{{ end }}
{{- end }}

[merge]
command = "meld"

[cd]
command = "fish"
args = ["--interactive", "--private"]

[age]
identity = "{{ .chezmoi.homeDir }}/.local/age.txt"
symmetric = true
