{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

brew bundle install \
  --no-lock \
  --file=/dev/stdin <<EOF
{{ template "Brewfile.tmpl" . }}
EOF
{{ end -}}
{{/* vim: set filetype=bash: */}}
