{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

if ! command -v brew &> /dev/null
then
	echo "Brew is not installed on the system, running the installer."
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle install \
  --no-lock \
  --file=/dev/stdin <<EOF
{{ template "Brewfile.tmpl" . }}
EOF
{{ end -}}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#!/usr/bin/zsh

if ! command -v yay &> /dev/null
then
  echo "yay is not installed on system, trying to install it"

  sudo pacman -S --needed git base-devel
  git clone https://aur.archlinux.org/yay.git
  cd yay
  makepkg -si
  cd ..
  rm -rf yay # force needed, because of .git folder
fi

packages=$(cat <<EOF | grep -v "^$" | grep -v "#"
{{ template "arch-packages.tmpl" . }}
EOF
)
echo $packages | yay -S --needed -

{{ end -}}

{{/* vim: set filetype=bash: */}}
