pkgbase = nachtjasmin-devel-devops
	pkgdesc = Devops packages for nachtjasmin's systems
	pkgver = 2023.12.05+99c6753
	pkgrel = 1
	url = https://github.com/nachtjasmin/dotfiles/arch-packages/
	arch = any
	groups = nachtjasmin
	license = OSL-3.0
	depends = kubectl
	depends = helm
	depends = kluctl
	depends = terraform
	depends = ansible

pkgname = nachtjasmin-devel-devops
