pkgbase = nachtjasmin-app-typst
	pkgdesc = Meta package for typst documents
	pkgver = 2023.12.05+99c6753
	pkgrel = 1
	url = https://github.com/nachtjasmin/dotfiles/arch-packages/
	arch = any
	groups = nachtjasmin
	license = OSL-3.0
	depends = typst
	depends = typst-lsp-bin

pkgname = nachtjasmin-app-typst
