pkgbase = nachtjasmin-desktop
	pkgdesc = Desktop system configuration for nachtjasmin's systems
	pkgver = 2023.12.05+99c6753
	pkgrel = 1
	url = https://github.com/nachtjasmin/dotfiles/arch-packages/
	arch = any
	groups = nachtjasmin
	license = OSL-3.0
	depends = darkman
	depends = syncthing
	depends = spotify
	depends = signal-desktop
	depends = ttf-apple-emoji
	depends = ttf-fira-code
	depends = ttf-iosevka-nerd
	depends = kitty
	depends = librewolf-bin
	conflicts = konsole
	conflicts = firefox

pkgname = nachtjasmin-desktop
