pkgbase = nachtjasmin-devel-base
	pkgdesc = Jasmins development base config
	pkgver = 2023.10.16+40eadf5
	pkgrel = 1
	url = https://github.com/nachtjasmin/dotfiles/arch-packages/
	arch = any
	groups = nachtjasmin
	license = OSL-3.0
	depends = direnv
	depends = just
	depends = watchexec
	depends = lefthook
	depends = helix
	depends = vim
	depends = visual-studio-code-bin
	depends = podman
	depends = podman-compose
	depends = git
	depends = git-extras
	depends = git-delta
	depends = git-lfs
	depends = github-cli
	conflicts = entr

pkgname = nachtjasmin-devel-base
