[Desktop Entry]
Comment=Flash your ZSA Moonlander with keymapp
Exec={{ .chezmoi.homeDir }}/.local/bin/keymapp %u
Icon=preferences-desktop-keyboard
Name=Keymapp
NoDisplay=false
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
