[Desktop Entry]
Name=message-protocol
Comment=Redirect message URIs to Betterbird
Exec={{ .chezmoi.homeDir }}/.local/bin/message-handler %u
Icon=internet-mail-symbolic
MimeType=x-scheme-handler/message
StartupNotify=false
Type=Application
