pkgbase = nachtjasmin-devel-web
	pkgdesc = Jasmins development config (webdev)
	pkgver = 2023.10.16+40eadf5
	pkgrel = 1
	url = https://github.com/nachtjasmin/dotfiles/arch-packages/
	arch = any
	groups = nachtjasmin
	license = OSL-3.0
	depends = httpie
	depends = wget
	depends = fnm
	depends = typescript-language-server
	depends = bun-bin

pkgname = nachtjasmin-devel-web
