# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

[templates]
defer = "{% for file in files %}zsh-defer source \"{{`{{ file }}`}}\"\n{% endfor %}"

[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[plugins.compinit]
inline = 'autoload -Uz compinit && compinit'

[plugins.oh-my-zsh-lib]
github = 'ohmyzsh/ohmyzsh'
use = [
    "lib/completion.zsh",
    "lib/directories.zsh",
    "lib/history.zsh",
    "lib/key-bindings.zsh",
	"plugins/command-not-found/*.zsh",
	"plugins/fzf/*.zsh",
	"plugins/httpie/*.zsh",
    "plugins/docker-compose/_docker-compose",
    "plugins/golang/_golang",
    "plugins/lol/*.zsh",
    "plugins/npm/*.zsh",
]

[plugins.custom-config]
local = '~/.config/zsh/config'
use = ["*.zsh"]

[plugins.custom-completions]
local = '~/.config/zsh/suggestions'
apply = ["fpath"]

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
tag = "v0.7.0"
use = ["zsh-autosuggestions.zsh"]
apply = ["defer", "fpath"]

[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'
apply = ["defer", "fpath"]

[plugins.clipboard]
github = "zpm-zsh/clipboard"

[plugins.git-extras]
github = 'tj/git-extras'
tag = "6.5.0"

{{ if eq .chezmoi.os "darwin" }}
[plugins.brew-site-functions]
local = '/usr/local/share/zsh/site-functions'
apply = ["fpath"]
{{ end }}
