[Unit]
Description=Update dotfiles
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/chezmoi update --no-tty --keep-going

[Install]
WantedBy=default.target
