[Unit]
Description=Update dotfiles

[Service]
Type=oneshot
ExecSearchPath=/usr/bin
ExecSearchPath=%h/.local/bin
WorkingDirectory=%h/.local/share/chezmoi
# This is definitely not optimal in terms of the evolog, but it keeps the state
# clean.
ExecStartPre=jj new main
ExecStart=chezmoi apply --no-tty --keep-going
