# Essential command-line tools
bat
chezmoi
direnv
entr
exa
git-lfs
less
ripgrep
sheldon-bin
starship
wget
zsh

# Generic
microsoft-edge-stable-bin
syncthing

# Generic development tools
docker
docker-compose
git-extras
git-filter-repo
git-lfs
just
ttf-fira-code
ttf-nerd-fonts-symbols
vim
visual-studio-code-bin

# Webdev
httpie
npm-check-updates
yarn
wget

# Go
go
gofumpt
goland
golangci-lint

# Multimedia
spotify

# System stuff
systemd-boot-pacman-hook

# Communication
signal-desktop
