[[packages]]
name = "bat"
# renovate: datasource=github-releases depName=sharkdp/bat
version = "v0.24.0"
type = "archive-file"
url = "https://github.com/sharkdp/bat/releases/download/$VERSION/bat-$VERSION-x86_64-unknown-linux-gnu.tar.gz"
stripComponents = 1
path = "bat"

[[packages]]
name = "chezmoi"
# renovate: datasource=github-releases depName=twpayne/chezmoi
version = "v2.47.4"
type = "file"
url = "https://github.com/twpayne/chezmoi/releases/download/$VERSION/chezmoi-linux-{{ .chezmoi.arch }}"

[[packages]]
name = "delta"
# renovate: datasource=github-releases depName=dandavison/delta
version = "0.17.0"
type = "archive-file"
url = "https://github.com/dandavison/delta/releases/download/$VERSION/delta-$VERSION-x86_64-unknown-linux-gnu.tar.gz"
stripComponents = 1
path = "delta"

[[packages]]
name = "direnv"
# renovate: datasource=github-releases depName=direnv/direnv
version = "v2.34.0"
type = "file"
url = "https://github.com/direnv/direnv/releases/download/$VERSION/direnv.linux-{{ .chezmoi.arch }}"

[[packages]]
name = "eza"
# renovate: datasource=github-releases depName=eza-community/eza
version = "v0.18.11"
type = "archive-file"
url = "https://github.com/eza-community/eza/releases/download/$VERSION/eza_x86_64-unknown-linux-gnu.tar.gz"
stripComponents = 1
path = "eza"

[[packages]]
name = "fd"
# renovate: datasource=github-releases depName=sharkdp/fd
version = "v9.0.0"
type = "archive-file"
url = "https://github.com/sharkdp/fd/releases/download/$VERSION/fd-$VERSION-x86_64-unknown-linux-gnu.tar.gz"
path = "fd"
stripComponents = 1

[[packages]]
name = "fnm"
# renovate: datasource=github-releases depName=Schniz/fnm
version = "v1.35.1"
type = "archive-file"
url = "https://github.com/Schniz/fnm/releases/download/$VERSION/fnm-linux.zip"
path = "fnm"

[[packages]]
name = "fzf"
# renovate: datasource=github-releases depName=junegunn/fzf
version = "0.50.0"
type = "archive-file"
url = "https://github.com/junegunn/fzf/releases/download/$VERSION/fzf-$VERSION-linux_{{ .chezmoi.arch }}.tar.gz"
path = "fzf"

[[packages]]
name = "lefthook"
# renovate: datasource=github-releases depName=evilmartians/lefthook
version = "1.6.10"
type = "file"
url = "https://github.com/evilmartians/lefthook/releases/download/v$VERSION/lefthook_$VERSION_Linux_x86_64"

[[packages]]
name = "rg"
# renovate: datasource=github-releases depName=BurntSushi/ripgrep
version = "14.1.0"
type = "archive-file"
url = "https://github.com/BurntSushi/ripgrep/releases/download/$VERSION/ripgrep-$VERSION-x86_64-unknown-linux-musl.tar.gz"
path = "rg"
stripComponents = 1

[[packages]]
name = "sd"
# renovate: datasource=github-releases depName=chmln/sd
version = "v1.0.0"
type = "archive-file"
url = "https://github.com/chmln/sd/releases/download/$VERSION/sd-$VERSION-x86_64-unknown-linux-musl.tar.gz"
path = "sd"
stripComponents = 1

{{ if eq (env "shell") (lookPath "zsh") }}
[[packages]]
name = "sheldon"
# renovate: datasource=github-releases depName=rossmacarthur/sheldon
version = "0.7.4"
type = "archive-file"
url = "https://github.com/rossmacarthur/sheldon/releases/download/$VERSION/sheldon-$VERSION-x86_64-unknown-linux-musl.tar.gz"
path = "sheldon"
{{ end }}

[[packages]]
name = "starship"
# renovate: datasource=github-releases depName=starship/starship
version = "v1.18.2"
type = "archive-file"
url = "https://github.com/starship/starship/releases/download/$VERSION/starship-x86_64-unknown-linux-gnu.tar.gz"
path = "starship"
