tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"

# Essential command-line tools
brew "bat"
brew "brew-gem" # Install RubyGems as Homebrew formulae
brew "chezmoi"
brew "entr" # Run arbitrary commands when files change
brew "exa"
brew "fnm"
brew "fzf"
brew "git-delta"
brew "git-lfs"
brew "less"
brew "ripgrep"
brew "sheldon"
brew "starship"
brew "wget"

# Generic
cask "microsoft-auto-update"

# Generic development tools
brew "docker"
brew "docker-compose"
brew "just"
cask "visual-studio-code"

# Webdev
brew "httpie"
brew "hugo"
brew "node"

# Java
brew "maven"
brew "openjdk"
cask "intellij-idea"

# Communication
cask "cisco-jabber"
cask "zoom"

# Multimedia
cask "spotify"
cask "vlc"

# Mac App Store
brew "mas"
mas "WireGuard", id: 1451685025
