pkgbase = nachtjasmin-audio
	pkgdesc = Audio setup using pipewire
	pkgver = 2023.12.05+99c6753
	pkgrel = 1
	url = https://github.com/nachtjasmin/dotfiles/arch-packages/
	arch = any
	groups = nachtjasmin
	license = OSL-3.0
	depends = pipewire
	depends = pipewire-audio
	depends = pipewire-alsa
	depends = pipewire-pulse
	depends = noise-suppression-for-voice

pkgname = nachtjasmin-audio
